<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikasi gabut</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <h1>Selamat Datang di aplikasi gabut</h1>
        <div class="input-group">
            <input type="text" name="url" id="edtUrl" class="form-control" value="<%= posisi; %>" onchange="pindahDir()" />
            <button class="btn btn-primary" onclick="pindahDir();">Go</button>
            <button class="btn btn-primary" data-bs-target="#iniModal" data-bs-toggle="modal" onclick="load('./data?act=modal-mkdir', 'modalContent');"><i class="material-icons">create_new_folder</i></button>
            <button class="btn btn-primary" data-bs-target="#iniModal" data-bs-toggle="modal" onclick="load('./data?act=modal-upload', 'modalContent');"><i class="material-icons">upload</i></button>
            <button class="btn btn-primary" data-bs-target="#iniModal" data-bs-toggle="modal" onclick="load('./data?act=modal-listdb', 'modalContent');"><i class="material-icons">sd_storage</i></button>
        </div>
        <p></p>
        <div id="tampil">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Size</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% files.forEach(file=> { %>
                        <tr>
                            <% if(path.extname(posisi + "/" +file)=="" ){ %>
                                <td style="cursor: pointer;" onclick="load('./data?p=<%= posisi+'/'+file; %>/', 'tampil')">
                                    <%= file; %>
                                </td>
                                <% } else { %>
                                    <td>
                                        <%= file; %>
                                    </td>
                                    <% } %>
                                        <td>
                                            <%= path.extname(posisi + "/" +file); %>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                            <% if(path.extname(posisi + "/" +file)!="" ){ %>
                                                <button class="btn btn-primary" onclick="window.open('./download?p=<%= posisi+'/'+file; %>')"><i class="material-icons">download</i></button>
                                                <% } %>
                                        </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="iniModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="modalContent">

            </div>
        </div>
    </div>
    <script src="./script.js"></script>
    <script>
        let sesi = sessionStorage.getItem("sesi") ? sessionStorage.getItem("sesi") : "null";
        if (sesi == "null") {
            window.location.href = "./login";
        }

        function pindahDir() {
            let url = document.getElementById('edtUrl').value;
            if (url.length < 4) {
                window.location.href = "./";
            } else {
                load('./data?p=' + url, 'tampil')
            }
        }
    </script>
</body>

</html>
